<div class="card-trip">
  <%= image_tag bookmark.movie.poster_url %>
  <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
  
  <div class="card-trip-infos">
    <div>
      <h2><%= bookmark.movie.title %></h2>
      <p><%= bookmark.movie.overview %></p>
    </div>
    <h2 class="card-trip-pricing"><%= bookmark.comment %></h2>
  </div>
</div>
